.galleryPhoto {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px 20px;
}

@media (max-width: 1000px) {
  .galleryPhoto {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 801px) {
  .galleryPhoto {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 451px) {
  .galleryPhoto {
    grid-template-columns: 1fr;
  }
}


