.galleryItemTitle {
  display: flex;
  max-width: 500px;
  margin-bottom: 20px;
}

.galleryItemName {
  cursor: pointer;
  font-size: 22px;
  color: #444444;
  margin-right: 5px;
}

.galleryItemPhotos {
  font-size: 14px;
  color: #c0c0c0;
  font-family: Helvetica_Light;
  margin-top: auto;
}

.setName {
  border: none;
  border-bottom: 2px solid #ea5a5a;
  margin-right: 20px;
  padding-left: 10px;
  font-family: Helvetica_Medium;
  font-size: 25px;
}


/* media start */

@media (max-width: 390px) {
  .galleryItemName {
    font-size: 20px;
  }

  .galleryItemPhotos {
    font-size: 12px;
  }
}

@media (max-width: 350px) {
  .galleryItemTitle {
    display: block;
  }
  .galleryItemPhotos {
    margin-top: 5px;
  }
}