.newAlbum {
  height: 100%;
}

.info {
  text-align: center;
  color: #444;
  padding-top: 50%;
  transform: translateY(-50%);
}

.welcome {
  display: block;
  font-size: 55px;
  margin-bottom: 30px;
}

.title {
  font-size: 40px;
}
