.nav {
  background: #ea5a5a;
  text-transform: uppercase;
  max-width: 160px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  padding: 15px;
  font-family: Helvetica_Bold;
  border-radius: 20px;
}



