.createNewAlbum {
  height: 100%;
}

.content {
  text-align: center;
  color: #444;
  padding-top: 50%;
  transform: translateY(-50%);
}

.title {
  display: block;
  font-size: 55px;
  margin-bottom: 30px;
  position: relative;
}


.gr {
  display: flex;
  justify-content: center;
}




.back {
  position: absolute;
  right: 20%;
  text-decoration: none;
  top: -100%;
  color: #ea5a5a;
  cursor: pointer;
  transition: transform .35s ease;
  &:hover {
    transform: rotate(360deg);
  }
}

