.albumsBtnPlus {
  width: 18px;
  height: 18px;
  fill: #e05757;
  cursor: pointer;
  display: block;
}

.galleryShare {
  width: 20px;
  height: 20px;
  padding: 2px;
  right: 30px;
  cursor: pointer;
  top: 30px;
  fill: #c0c0c0;
  border: 1px solid #c0c0c0;
  position: absolute;
}

.play {
  right: 60px;
}